@import "tailwindcss";

:root {
    --base-background: #0b0a0a;
    --card-background: #211f1f;
    --accent-color: #ba270d;
    --accent-color-faded: #b12c146b;
    --font-color: #e0e0e0;
    --font-color-faded: #858585;
}

body {
    background-color: var(--base-background);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}